<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All Muscle Groups
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
    <a href="/muscle_groups" class="btn btn-block btn-outline-secondary">
      Add a Muscle Group
    </a>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12 offset-md-1">
    <table class="table">
      <tr>
        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @muscle_groups.each do |muscle_group| %>
      <tr>

        <td>
          <%= muscle_group.name %>
        </td>

        <td>
          <%= time_ago_in_words(muscle_group.created_at) %> ago
        </td>

        <td>
          <a href="/muscle_groups/<%= muscle_group.id %>">
            View / Update
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
